---
import type { GetStaticPaths } from "astro";
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { languages } from '@/i18n/ui'

import { getLangFromUrl, useTranslations } from '@/i18n/utils';


export const getStaticPaths = (() => {

	return  Object.keys(languages).map((lang) => {
		return {
			params: {
				lang
			}
		}
	})
}) satisfies GetStaticPaths;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);


---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>{t('home.title')}</h1>
		</main>
		<Footer />
	</body>
</html>
